* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.primapagina {
  content: url(immagini/9hIgpn.jpg);
  width: 100%;
  height: 100vh;
}

.Megacontainer {
  width: 80%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: -940px;
}

@font-face {
  font-family: 'lordofthe';
  src: url("font/anirm___.ttf");
  font-style: normal;
  font-weight: 100;
}

.titoloClasse {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 500px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.personaggi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personaggio1 {
  position: absolute;
  margin-left: 80px;
  margin-top: 80px;
}

.fro1 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.fro2 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.image1 {
  display: relative;
  margin-top: 42px;
  margin-left: 40px;
  border-radius: 50%;
}

.imagecirco1 {
  display: absolute;
  position: absolute;
  width: 360px;
  margin-left: -331px;
  margin-top: 11px;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}

.imagecirco1:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.personaggio2 {
  position: relative;
  margin-left: 540px;
  margin-top: 80px;
}

.sam1 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.sam2 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.image2 {
  display: relative;
  margin-top: 42px;
  margin-left: 40px;
  border-radius: 50%;
}

.imagecirco2 {
  display: absolute;
  position: absolute;
  width: 360px;
  margin-left: -331px;
  margin-top: 11px;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}

.imagecirco2:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.personaggio3 {
  position: relative;
  margin-left: 10px;
  margin-top: 80px;
}

.marry1 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.marry2 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.image3 {
  display: relative;
  margin-top: 42px;
  margin-left: 40px;
  border-radius: 50%;
}

.imagecirco3 {
  display: absolute;
  position: absolute;
  width: 360px;
  margin-left: -331px;
  margin-top: 11px;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}

.imagecirco3:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.personaggio4 {
  position: relative;
  margin-left: 40px;
  margin-top: 80px;
}

.pip1 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.pip2 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.image4 {
  display: relative;
  margin-top: 42px;
  margin-left: 40px;
  border-radius: 50%;
}

.imagecirco4 {
  display: absolute;
  position: absolute;
  width: 360px;
  margin-left: -331px;
  margin-top: 11px;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}

.imagecirco4:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.personaggi2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personaggio5 {
  position: absolute;
  margin-left: 80px;
  margin-top: 190px;
}

.ara1 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.ara2 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.image5 {
  display: relative;
  margin-top: 42px;
  margin-left: 40px;
  border-radius: 50%;
}

.imagecirco5 {
  display: absolute;
  position: absolute;
  width: 360px;
  margin-left: -331px;
  margin-top: 11px;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}

.imagecirco5:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.personaggio6 {
  position: relative;
  margin-left: 540px;
  margin-top: 190px;
}

.gim1 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.gim2 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.image6 {
  display: relative;
  margin-top: 42px;
  margin-left: 40px;
  border-radius: 50%;
}

.imagecirco6 {
  display: absolute;
  position: absolute;
  width: 360px;
  margin-left: -331px;
  margin-top: 11px;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}

.imagecirco6:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.personaggio7 {
  position: relative;
  margin-left: 110px;
  margin-top: 190px;
}

.leg1 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.leg2 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.image7 {
  display: relative;
  margin-top: 42px;
  margin-left: 40px;
  border-radius: 50%;
}

.imagecirco7 {
  display: absolute;
  position: absolute;
  width: 360px;
  margin-left: -331px;
  margin-top: 11px;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}

.imagecirco7:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.personaggio8 {
  position: relative;
  margin-left: 70px;
  margin-top: 190px;
}

.gan1 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.gan2 {
  font-family: lordofthe;
  color: darkgoldenrod;
  padding-left: 30px;
}

.image8 {
  display: relative;
  margin-top: 42px;
  margin-left: 40px;
  border-radius: 50%;
}

.imagecirco8 {
  display: absolute;
  position: absolute;
  width: 360px;
  margin-left: -331px;
  margin-top: 11px;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}

.imagecirco8:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.item {
  padding: 10px;
  border-radius: 20px;
}

.item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

video {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px 40px 40px 40px;
  -webkit-box-shadow: -1px 0px 20px 3px #000000;
          box-shadow: -1px 0px 20px 3px #000000;
}

.containerVideo {
  -ms-flex-line-pack: center;
      align-content: center;
}

.scroll-downs {
  margin: auto;
  margin-top: 30px;
  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fcce00;
  border-radius: 25px;
  opacity: 0.75;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fcce00;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

#gradient {
  width: 100%;
  height: 200vh;
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
}

/**Slider**/
#slideshow {
  margin-left: auto;
  margin-right: auto;
  margin-top: 84px;
  position: relative;
  width: 100%;
  height: 100vh;
  /*56.25 is for 16x9 resolution*/
  background: -webkit-gradient(linear, left top, left bottom, from(darkgoldenrod), to(black));
  background: linear-gradient(darkgoldenrod, black);
}

#slideshow > div {
  position: absolute;
  top: 100px;
  left: 160px;
  right: 160px;
  bottom: 100px;
}

#slideshow > div > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: -1px 0px 20px 3px #000000;
          box-shadow: -1px 0px 20px 3px #000000;
}

.spazioregolatore {
  height: 968px;
}

.containeranello {
  height: 70%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fotoanello {
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 200px;
}

.anelloo {
  height: 500px;
}

.scrittaanello {
  color: white;
  height: 600px;
  text-align: center;
  margin: auto;
  height: 200px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.scrittaanello h2 {
  font-family: lordofthe;
  color: darkgoldenrod;
}

.scrittaanello p {
  font-family: lordofthe;
  color: darkgoldenrod;
}

.scrittafilm {
  text-align: center;
  color: darkgoldenrod;
  font-size: 30px;
  font-family: 'lordofthe';
  padding-top: 100px;
  margin-bottom: -100px;
}

.containerfilm {
  height: 100vh;
  width: 100%;
  background-color: black;
  margin-top: -30px;
}

.card-movie__details:after, .card-movie__details-list:after {
  clear: both;
  content: '';
  display: table;
}

.card-movie-wrapper {
  -webkit-box-shadow: 0px 0px 100px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 100px 25px rgba(0, 0, 0, 0.2);
  height: 562.5px;
  position: relative;
  width: 1000px;
  border-radius: 40px;
}

.card-movie-wrapper:hover .card-movie-carousel {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  bottom: 60px;
  right: 40px;
  border-radius: 40px;
}

.card-movie-wrapper--centered {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  position: relative;
  top: 50%;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 0px 3px #000000;
  box-shadow: 0px 0px 0px 3px #000000;
}

.card-movie-carousel {
  -webkit-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;
  height: 562.5px;
  width: 1000px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border-radius: 40px;
}

.card-movie-navigation {
  background-color: darkgoldenrod;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 15;
  border-radius: 40px;
}

.card-movie-navigation__list {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 14px;
  top: 50%;
  width: 14.4px;
}

.card-movie-navigation__list li {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background-color: black;
  border-radius: 100%;
  cursor: pointer;
  height: 12px;
  margin: 0 auto 6px;
  width: 12px;
}

.card-movie-navigation__list li:last-child {
  margin-bottom: 0;
}

.card-movie-navigation__list li.is-active {
  height: 14.4px;
  width: 14.4px;
}

.card-movie-navigation__list li:hover {
  background-color: #583b23;
}

.card-movie-navigation button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  bottom: 0;
  color: black;
  cursor: pointer;
  font-size: 14px;
  line-height: 60px;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  right: 40px;
}

.card-movie-navigation button:before {
  content: 'Watch Trailer';
}

.card-movie-navigation button:after {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-bottom: 6px solid transparent;
  border-left: 6px solid #000000;
  border-top: 6px solid transparent;
  content: '';
  height: 0;
  margin-right: 6px;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
}

.card-movie-navigation button.is-playing:before {
  content: 'Hide Trailer';
}

.card-movie-navigation button.is-playing:after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: -6px;
}

.card-movie {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  background-size: cover;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  opacity: 0;
  width: 100%;
  z-index: 20;
}

.card-movie__content {
  left: 330px;
  position: absolute;
  top: 150px;
}

.card-movie__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  margin-left: -4px;
  text-transform: uppercase;
}

.card-movie__details {
  margin-bottom: 30px;
  margin-top: 15px;
}

.card-movie__details-item {
  display: block;
  float: left;
  margin-right: 20px;
}

.card-movie__details-list li {
  float: left;
  margin-right: 5px;
  padding-right: 6px;
  position: relative;
}

.card-movie__details-list li:after {
  content: '|';
  position: absolute;
  right: 0;
}

.card-movie__details-list li:last-child {
  margin-right: 0;
}

.card-movie__details-list li:last-child:after {
  display: none;
}

.card-movie__description {
  font-size: 14px;
  max-width: 390px;
}

.card-movie__rating {
  bottom: 16.66667px;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  position: absolute;
  right: 16.66667px;
  text-align: center;
  width: 50px;
}

.card-movie__rating:after {
  border-radius: 100%;
  border: 2px solid #ee927b;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-movie__player {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 20;
}

.card-movie--playing .card-movie__player {
  height: 562.5px;
  width: 1000px;
}

.card-movie__player iframe {
  height: 100%;
  width: 100%;
}

.card-movie--active {
  opacity: 1;
  z-index: 25;
}

.card-movie--light {
  background-color: #effdfd;
}

.card-movie--light [class*='__title'] {
  color: #000;
}

.card-movie--dark {
  background-color: #000;
  color: #fff;
}

.card-movie--dark [class*='__title'] {
  color: #fff;
}

.card-movie--simpson {
  background-image: url("https://images8.alphacoders.com/675/thumb-1920-675236.jpg");
}

.card-movie--tron {
  background-image: url("https://images3.alphacoders.com/161/thumb-1920-161215.jpg");
}

.card-movie--garden-state {
  background-image: url("https://images7.alphacoders.com/112/thumb-1920-1123161.jpg");
}

.card-movie--interstellar {
  background-image: url("https://images4.alphacoders.com/794/thumb-1920-794739.jpg");
  background-color: #fffffa;
}

.card-movie--walter-mitty {
  background-image: url("https://images7.alphacoders.com/453/thumb-1920-453105.jpg");
}

.card-movie--cloud-atlas {
  background-image: url("https://images7.alphacoders.com/119/thumb-1920-1193125.jpg");
}
/*# sourceMappingURL=style.css.map */